.features--wrapper {
  background-color: $darkBlue--main;
  padding-bottom: 12.5rem;

  @include breakpoint-down(small) {
    padding-bottom: 13.5rem;
  }
}

.features {
  text-align: center;
  &__groups {
    @include flex(space-around, center, row);
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 9rem;

      @include breakpoint-down(small) {
        margin-bottom: 8rem;
      }
    }
  }

  &__card {
    img {
      margin-bottom: 3rem;
    }

    h4 {
      margin-bottom: 1.5rem;
    }

    p {
      max-width: 34rem;
      margin: 0 auto;
      font-size: 1.8rem;
      line-height: 1.5;
    }

    &:not(:last-child) {
      @include breakpoint-down(small) {
        margin-bottom: 8rem;
      }
    }
  }

  &__box {
    margin-top: 13.5rem;
    @include flex(space-between, center, row);
    flex-wrap: wrap;
  }

  &__image {
    flex: 1;
    @include breakpoint-down(medium) {
      width: 100%;
      margin-bottom: 4rem;
    }
  }

  &__text {
    flex: 1;
    text-align: left;
    margin-left: 5.5rem;

    @include breakpoint-down(medium) {
      margin-left: 0;
    }

    h2 {
      max-width: 34rem;
      margin-bottom: 2rem;

      @include breakpoint-down(small) {
        text-align: center;
      }
    }

    p {
      max-width: 55rem;
      line-height: 1.5;
    }
  }

  &__link {
    display: inline-block;
    width: fit-content;
    @include flex(start, flex-end, row);
    margin-top: 3rem;
    border-bottom: 1px solid $cyan-cta;
    padding-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    @include breakpoint-down(small) {
      margin-top: 2rem;
    }

    a {
      width: 13.5rem;
      color: $cyan-cta;
      transition: all 0.2s ease-in-out;
    }

    svg use {
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      a {
        color: $white;
      }

      svg use {
        fill: $white;
      }
      border-color: $white;
    }
  }
}
