* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: $font-sm;
  line-height: 1.3;
  background-color: $darkBlue--intro-email;
  color: $white;

  @include breakpoint-down(small) {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 4rem;

  @include breakpoint-down(small) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 4rem;

  @include breakpoint-down(small) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 3.8rem;

  @include breakpoint-down(small) {
    font-size: 1.8rem;
  }
}

h4 {
  font-size: 2rem;

  @include breakpoint-down(small) {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: $white;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.button {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: $white;
  background: linear-gradient(to left, $cyan-cta, $blue-cta);
  border-radius: 100px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;
    border-radius: 100px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 0.3;
  }

  &__p-long {
    padding: 2rem 9.5rem;

    @include breakpoint-down(small) {
      padding: 1.6rem 7rem;
    }
  }

  &__p-short {
    padding: 2rem 3rem;

    @include breakpoint-down(small) {
      padding: 1.6rem 6.5rem;
    }
  }
}

.container {
  @include breakpoint-down(small) {
    padding: 0 2.5rem;
    margin: 0 auto;
  }
}

// Flexbox
@mixin flex($justify, $align, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
