// Color Primary
$darkBlue--intro-email: hsl(217, 28%, 15%);
$darkBlue--main: hsl(218, 28%, 13%);
$darkBlue--footer: hsl(216, 53%, 9%);
$darkBlue--testimonials: hsl(219, 30%, 18%);

// Color Accent
$cyan-cta: hsl(176, 68%, 64%);
$blue-cta: hsl(198, 60%, 50%);
$lightRed--error: hsl(0, 100%, 63%);

// Color Neutral
$white: hsl(0, 0%, 100%);

//Font size
$font-sm: 1.4rem;
$font-md: 2rem;
